:root {
  --bg:    #111110;
  --s1:    #171615;
  --s2:    #1D1C1B;
  --s3:    #232221;
  --b1:    #2A2927;
  --b2:    #353432;
  --b3:    #414040;

  --t1:    #EDE9E4;
  --t2:    #9B9490;
  --t3:    #605C58;

  --jam:   #CC7A52;
  --jam2:  #D4956A;
  --jam-a: rgba(204,122,82,0.12);
  --jam-b: rgba(204,122,82,0.25);

  --g:     #22C55E;
  --g-a:   rgba(34,197,94,0.09);
  --am:    #EAB308;
  --am-a:  rgba(234,179,8,0.09);
  --re:    #EF4444;
  --re-a:  rgba(239,68,68,0.09);
  --bl:    #3B82F6;
  --bl-a:  rgba(59,130,246,0.09);

  --f:     'Geist', sans-serif;
  --fm:    'Geist Mono', monospace;
  --r:     6px;
}